/* Webfont: Houstiq2-Regular */@font-face {
    font-family: 'Houstiq2';
    src: url('Houstiq 2.woff2') format('woff2'), /* Modern Browsers */
         url('Houstiq 2.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

